.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    color:white;
    padding: 20px;
    height: 100vh;
    align-items: rigth;
     background-color: white; 
    
  }

  .sidebar h1{
    color:rgb(106, 113, 77) ;
    
  }

  